<h1 class="animated fadeIn fast">Marvel</h1>
<hr>

<p class="animated fadeIn">
    Marvel Comics es una editorial norteamericana de cómics. Es conocida popularmente como "La casa de las ideas" por la "creación" de numerosos personajes "emblemáticos" del género de superhéroes. Algunos de sus cómics más conocidos son Los 4 Fantásticos,
    Spider-Man, Daredevil, Capitán América, Los Vengadores, Iron Man, Hulk y X-Men. Desde los años 60 la compañía constituye una de las mayores editoriales de este género. Localizada en Nueva York, fue fundada en el 387 de Park Avenue South, teniendo
    sus oficinas en la actualidad en el 40th East 10th Av.Lo que la gente llama como fenomeno bifocal avanzado sobre la teoria de la relatividad.
</p>
<p class="animated fadeIn">
    Marvel Comics fue fundada por Martin Goodman en 1939, con un número constante de cambios de nombre y fracasos de lanzamiento. Originalmente fue conocida como Red Circle Comics, Atlas Comics; aunque el nombre más popular (antes de Marvel Comics) es Timely
    Comics y su primera publicación importante fue el Marvel Comics #1 (octubre de 1939) y también por el cual recibe su nombre actual, en el que aparecía por primera vez un superhéroe, el héroe de guerra la Antorcha Humana original y el antihéroe Namor,
    el hombre submarino. Ambos personajes se convirtieron en grandes éxitos para la compañía protagonizando casi instantáneamente sus propias series. Otro superhéroe popular creado en esas fechas era el personaje patriótico Capitán América. Durante los
    años 50, la compañía, como toda la industria del cómic americana, decayó fuertemente a consecuencia del final de la Segunda Guerra Mundial. En 1957 Marvel casi cerró sus puertas debido a la bancarrota de su distribuidora. Durante este tiempo la compañía
    se llamaba Atlas Comics y publicaba historias de monstruos con una ligera ambientación de ciencia ficción.
</p>

<hr>
<h1 class="animated fadeIn fast">DC</h1>
<hr>
<p class="animated fadeIn">
    DC Comics es una editorial de cómics estadounidense. Forma parte de DC Entertainment,1​ una de las empresas que conforman Warner Bros. Entertainment, la cual a su vez es propiedad de WarnerMedia. Fue fundada en 1934 bajo el nombre National Allied Publications,
    para luego tomar el nombre de DC Comics en 1937. Las iniciales «DC» son una abreviatura de Detective Comics, uno de los primeros títulos emblemáticos de la compañía.
</p>
<p class="animated fadeIn">
    Entre algunos de sus personajes más emblemáticos se encuentran Superman, Batman, la Mujer Maravilla, Flash, Linterna Verde, Aquaman, Flecha Verde, Supergirl y grupos de héroes como Liga de la Justicia o Los Jóvenes Titanes. Material no relacionado a su
    universo heroico incluye a Watchmen, V de Vendetta, The Sandman y muchos otros, generalmente bajo subsellos editoriales como Vertigo o Milestone Media. Su sede principal estuvo situada históricamente en la ciudad de Nueva York, pero desde 2015 mudaron
    sus oficinas a la ciudad de Burbank (California).
</p>