<div class="jumbotron jumbotron-fluid animated fadeIn">
    <div class="container">
        <h1 class="display-4">Information App</h1>
        <p class="lead">Esta es una Aplicacion de Heroes</p>
    </div>
</div>
<div>
    <h1>EL ORIGEN DEL CÓMIC</h1>

    <p>Al hablar de los antecesores de la historieta, es inevitable nombrar a los antiguos egipcios, que representaban muchos de sus mitos en dibujos y jeroglíficos que realizaban sobre hojas de papiro, y también hacían murales en forma de tira, que incluían
        imagen y texto. Otros ejemplos son las cristaleras, el tapiz de Bayeux, las bandas que rodean las columnas romanas conmemorativas (como la Trajana o la de Marco Aurelio), los retablos medievales (con los que, mediante imágenes, se explicaban al
        pueblo historias, crímenes y sucesos en general), los dibujos de las civilizaciones precolombinas (como los códices, pintados por los mayas y los aztecas) e incluso las primitivas pinturas rupestres.
    </p>
    <p> A estos ejemplos citados se pueden agregar algunas obras pictóricas de Hyeronnimus Bosh, Brueghel o Goya, las cuales adquieren un carácter narrativo. Pero quizás los antecedentes más cercanos a las historietas sean las Aucas y Aleluyas, destinadas
        fundamentalmente a satisfacer las necesidades de instrucción de niños y adolescentes. Estas publicaciones, que comenzaron a editarse en Francia a partir de 1820, se caracterizaban por narrar pequeños cuentos y aventuras mediante ilustraciones,
        aunque, a diferencia de la historieta, los textos no se integraban orgánicamente dentro de los dibujos, sino que se adicionaban a modo de explicación complementaria al pie de los grabados. Sin embargo, la historia del cómic se relaciona más correctamente
        con la de la imprenta y la caricatura.
    </p>
    <p>La historieta (que nace casi al mismo tiempo que el cine) pronto desarrollará su particular lenguaje icónico, y las primitivas viñetas, todas del mismo tamaño y con los textos al pie o tímidamente incluidos en el dibujo, serán sustituidas por viñetas
        de diferentes tamaños y situación y, sobre todo, evolucionarán rápidamente los modos y alcances de los textos. Estos se incluirán, casi desde el principio, en globos o bocadillos; su particular forma, así como el tamaño y dibujo de las letras,
        constituyen, por sí solos, todo un modo de expresión independiente.
    </p>
    <p>El uso de onomatopeyas, escritas con grandes letras, ciertos símbolos ya universalmente aceptados (como una sierra cortando un tronco para indicar sueño o una bombilla que se enciende para explicar que el personaje ha tenido una idea) tienen un alcance
        comunicativo que difícilmente puede lograr otro medio de expresión. Inicialmente estas historietas tenían carácter cómico, de ahí el nombre: cómic-strip (tira cómica).
    </p>
    <p>El cómic infantil tiene más de un siglo de historia. Fue en Estados Unidos, en 1896, donde se publicó el primer suplemento infantil con historietas en un periódico, aunque se atribuye al suizo Rodolfo Toepffer (1799-1846) la invención de la historieta
        ilustrada.
    </p>

    <p>En nuestro país, en 1904 se publica En Patufet, tebeo en lengua catalana que alcanzó gran difusión. No obstante, el primer auténtico tebeo fue Dominguín, editado en Barcelona en 1915. El decano de los semanarios españoles infantiles es el TBO, aparecido
        en Barcelona en 1917. Su fama fue tal que con el nombre de "tebeo" se conocen todas "las publicaciones infantiles cuyos temas se desarrollan en series de dibujos", tal como lo define la Real Academia de la Lengua. Hoy, con dudoso acierto, le llamamos
        también "cómic", vocablo inglés que ha pasado al castellano -también lo reconoce la Real Academia- y que, en un principio, se aplicó a las historietas cómicas, ampliándose después también a las de aventuras, ciencia-ficción y policíacas.
    </p>
</div>